<!DOCTYPE html>
<div class="component-border">
    <nav class="navbar page-padding bg-white small-font">
        <a class="navbar-brand small-centered" href="#">
            <img class="" src="../../../assets/images/teikametrics.svg">
            <div>
                <p class="navbar-text small-font"> Copyright &copy; 2015-2017 teikametrics </p>
            </div>
        </a>
        <div class="navbar-text">
            <div class="spaces black-font">
                <span class="" href="#">Privacy Policy</span>
                <span class="" href="#">Terms & Conditions</span>
                <span class="bolded" href="#">Made with
                <img src="../../../assets/images/heart.svg"/>
                in Boston
            </span>
            </div>
            <div class="pull-right space">
                <img src="../../../assets/images/facebook-icon.svg">
                <img src="../../../assets/images/twitter-icon.svg">
                <img src="../../../assets/images/linkedin-icon.svg">
                <img src="../../../assets/images/youtube-icon.svg">
                <img src="../../../assets/images/angelco.svg">
            </div>
        </div>
    </nav>
</div>