<!DOCTYPE html>

<div class="background">
    <nav class="navbar bg-white small-font">
        <a class="navbar-brand small-centered" href="#">
            <img src="../../../assets/images/teikametrics.svg">
        </a>
        <form class="form-inline">
            <a class="word-space extra-top-padding">SIGN IN</a>
            <div class="input-group">
                <input class="form-control small-font" type="email" placeholder="Enter your email"/>
                <button class="input-group-append btn button-color small-font" type="submit">
                    Get Started
                </button>
            </div>
        </form>
    </nav>
</div>