<div class="background">
    <h3>Included in all plans</h3>
  <div class="row">
      <div class="col">
          <i class="fas fa-tachometer-alt"></i>
          <span>Powerful Dashboard</span>
          <p>
              All-in-one dashboard with essential key performance metrics and capabilities.
          </p>
      </div>
      <div class="col">
          <i class="fas fa-bullhorn"></i>
          <span>Unlimited SP Campaigns</span>
          <p>No limits or maximums. Run as many Sponsored Products campaigns as you'd like.</p>
      </div>
      <div class="col">
          <i class="fas fa-key"></i>
          <span>Targeted Keyword Suggestions</span>
          <p>Easy to execute keyword actions make reducing wasted ad spend and increasing profitability simple.</p>
      </div>
      <div class="w-100">
      </div>
      <div class="col">
          <i class="fas fa-comments"></i>
          <span>Expert Support</span>
          <p>Never go alone again. Take advantage of online, expert chat with our Customer Success team.</p>
      </div>
      <div class="col">
          <i class="fas fa-gavel"></i>
          <span>Value-based Bidding</span>
          <p>With our value-based bidding automation you'll never pay too much (or too little) for a bid again.</p>
      </div>
      <div class="col">
          <i class="fas fa-calendar-alt"></i>
          <span>Your Data, Your Way</span>
          <p>Our calendar allows you to see your data in daily, weekly, monthly, yearly, or even custom view.</p>
      </div>
  </div>
</div>