<div class="background">
    <form class="form-inline">
        <div class="trial-text small-centered">
            <h2>
                Start your free trial
            </h2>
            <h6>Start your 30-day free trial of the Sponsored Products Optimizer. All features included.</h6>
        </div>
        <div class="small-font small-centered">
            <div class="input-group">
                <input class="form-control small-font" type="email" placeholder="Enter your email"/>
                <button class="small-font input-group-append btn button-color" type="submit">
                    Get Started
                </button>
            </div>
            <footer>30-Day Free Trial &middot; Starting at $99/month &middot; Cancel Anytime</footer>
        </div>
    </form>
</div>