<div class="background">
  <div class="row">
      <div class="col-lg-2">
          <span>Optimize for</span>
          <ul>
              <li>
                  <a>Teikametrics Flywheel</a>
              </li>
              <li>
                  <a>Sponsored Products</a>
              </li>
              <li>
                  <a>FBA Insite</a>
              </li>
              <li>
                  <a>Expert Launch Services</a>
              </li>
              <li>
                  <a>Expert Campaign Launch</a>
              </li>
              <li>
                  <a>SPO Managed Services</a>
              </li>
          </ul>
      </div>
      <div class="col-lg-2">
          <span>Sellers</span>
      </div>
      <div class="col-lg-2">
          <span>Agencies</span>
      </div>
      <div class="col-lg-2">
          <span>Company</span>
          <ul>
              <li>
                  <a>Who We Are</a>
              </li>
              <li>
                  <a>Careers</a>
              </li>
          </ul>
      </div>
      <div class="col-lg-2">
          <span>Resources</span>
          <ul>
              <li>
                  <a>Blogs</a>
              </li>
              <li>
                  <a>Webinars</a>
              </li>
              <li>
                  <a>Ebooks</a>
              </li>
              <li>
                  <a>TeikaTV</a>
              </li>
              <li>
                  <a>SP Optimizer - Help Center</a>
              </li>
              <li>
                  <a>Insite - Help Center</a>
              </li>
          </ul>
      </div>
      <div class="col-lg-2">
          <button class="btn button-color">Get a free demo</button>
      </div>
  </div>
</div>
