<!DOCTYPE html>
<div class="background">
    <div class="container">
        <div class="display-inline format-strategies">
            <h6 class="webinar-text">FREE WEBINAR</h6>
            <h1>7 Simple Strategies to Build Better Sponsored Products Campaigns</h1>
            <h4>Winning with Sponsored Products starts at the beginning, with well-organized
                and strategy focused campaign creation.
            </h4>
            <h2>You'll learn how to:</h2>
            <ul>
                <li>Build and manage profitable campaigns</li>
                <li>Find profitable keywords you might have missed</li>
                <li>Increase conversions with Sponsored Products</li>
                <li>Reduce your overall wasted spend</li>
            </ul>
            <h2>Date and time</h2>
            <h4 class="date-and-time">June 21st 2018, 3PM EST</h4>
        </div>
        <div class="display-inline pad-top">
            <h4 class="title-color">Register</h4>
            <div class="container small-font">
                <form #f="ngForm">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="firstName">First Name</label>
                                <input id="firstName" class="form-control" type="text" placeholder="First name"/>
                            </div>
                            <div class="col">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" class="form-control" type="text" placeholder="Last Name"/>
                            </div>
                        </div>
                        <label for="companyName">Company Name*</label>
                        <input required id="companyName" class="form-control" type="text" placeholder="Company Name"/>
                        <label for="email">Email*</label>
                        <input required id="email" class="form-control" type="email" placeholder="Email"/>
                        <label for="phoneNumber">Phone Number*</label>
                        <input required id="phoneNumber" class="form-control" type="tel" placeholder="Phone Number"/>
                        <label for="monthlyAmazonRev">Monthly Amazon Marketplace Revenue*</label>
                        <input required id="monthlyAmazonRev" class="form-control" type="number"
                               placeholder="Marketplace Revenue"/>
                        <label for="spending">How much are you spending on Amazon Sponsored Products*</label>
                        <input required id="spending" class="form-control" type="text"
                               placeholder="Spend on Amazon Sponsored Products"/>
                    </div>
                    <button type="submit" class="btn btn-block button-color">Register Now</button>
                </form>
            </div>
        </div>
    </div>
</div>