.background {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.background span {
    font-weight: bold;
    position: relative;
    bottom: 10px;
}

.background a {
    color: darkgrey;
    font-size: smaller;
}

.button-color {
    background-color: #7B81EA;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    border-radius: 2px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
}

.background ul {
    list-style-type: none;
    padding: 0;
}

.background ul li {
    margin-bottom: 10px;
}
