<div class="background">
    <h6>MEET OUR CUSTOMERS</h6>
    <div class="purple-border">
        <h3>A few of our growing list of successful Amazon sellers</h3>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <span>
                <img src="../../../assets/images/tech-armor.svg"/>
            </span>
        </div>
        <div class="col-lg-3">
            <span>
                <img class="fix-width" src="../../../assets/images/mark-cuban.svg"/>
            </span>
        </div>
        <div class="col-lg-3">
            <img class="fix-margin" src="../../../assets/images/green-gobbler.svg">
        </div>
        <div class="col-lg-3">
            <img src="../../../assets/images/kiss-my-keto.svg"/>
        </div>
        <div class="w-100">
        </div>
        <div class="col-lg-3">
            <img class="fix-margin" src="../../../assets/images/hyperikon.svg"/>
        </div>
        <div class="col-lg-3">
            <img src="../../../assets/images/tipsey-elves.svg"/>
        </div>
        <div class="col-lg-3">
            <img class="fix-margin" src="../../../assets/images/nutpods.svg"/>
        </div>
        <div class="col-lg-3">
            <img src="../../../assets/images/marathon-sports.svg"/>
        </div>
        <div class="w-100">
        </div>
        <div class="col-lg-3">
            <img class="" src="../../../assets/images/power-practical.svg"/>
        </div>
        <div class="col-lg-3">
            <img src="../../../assets/images/elizabeth-mott.svg"/>
        </div>
        <div class="col-lg-3">
            <img src="../../../assets/images/pavoi.svg"/>
        </div>
        <div class="col-lg-3">
            <img src="../../../assets/images/thursday-boots.svg"/>
        </div>
    </div>
</div>
